@import "./variable.scss";

.project__skill {
  border-radius: 8px;
  border: 1px solid #4f4f4f;
  color: #4f4f4f;
  background-color: #ffffff;
  transition: all ease-in 0.2s;
  padding-top: calc(8px / 2);
  padding-bottom: calc(8px / 2);
}

.project__skill:hover {
  border: 1px solid #6aa2ef;
  color: #6aa2ef;
  transition: all ease-in 0.2s;
}

.active,
.active:hover,
.project__skill:active {
  color: #ffffff;
  background: #6aa2ef;
  border: 1px solid #6aa2ef;
}

.project__skill {
  margin-right: calc(16px / 2);
  margin-bottom: calc(10px / 2);
  margin-top: calc(10px / 2);
}

@media (min-width: $mobile-size) {
  .project__skill {
    border-radius: 12px;
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .project__skill {
    margin-right: 16px;
    margin-bottom: 10px;
    margin-top: 10px;
  }
}
