@import "./variable.scss";

.name {
  font-weight: 600;
  font-size: 21px;
  line-height: 29px;
  margin: 0;
}

.name,
.contact {
  color: #4f4f4f;
}

.activity,
.description {
  color: #828282;
}

.activity,
.contact,
.description {
  font-weight: 500;
}
.activity,
.contact,
.description {
  font-size: 15px;
  line-height: 22px;
}

.identity {
  margin-top: 16px;
  margin-bottom: 16px;
}

.image {
  border-radius: 8px;
}

.contact {
  display: flex;
  flex-direction: column;
  margin-top: (30px / 2);
  margin-bottom: calc(30px / 2);
}

.contact--email,
.contact--phone {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  overflow-wrap: anywhere;
}

.contact--email img,
.contact--phone img {
  margin-right: 14px;
  max-width: 14px;
}

.about__me {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media (min-width: $mobile-size) {
  .section__about {
    padding: 22px;
  }

  .name {
    font-size: 24px;
  }

  .section__about,
  .image {
    border-radius: 12px;
  }

  .activity,
  .contact,
  .description {
    font-size: 18px;
  }

  .contact {
    margin-top: calc(30px / 2);
    margin-bottom: calc(30px / 2);
  }

  .contact--email,
  .contact--phone {
    overflow-wrap: normal;
  }

  .contact--email,
  .name {
    margin-bottom: calc(10px / 2);
  }

  .contact--phone,
  .activity {
    margin-top: calc(10px / 2);
  }

  .contact--email,
  .contact--phone {
    flex-wrap: wrap;
  }

  .contact--email img,
  .contact--phone img {
    margin-right: 18px;
    max-width: 20px;
  }

  .about__me {
    gap: 20px;
  }
}

@media (min-width: $medium-size) {
  .section__about {
    gap: 22px;
    margin: auto;
  }

  .image {
    max-width: 200px;
  }

  .section__about,
  .about__me {
    display: flex;
    flex-direction: row;
  }

  .about__me {
    justify-content: space-between;
    align-items: flex-start;
  }

  .contact {
    margin: 0;
  }

  .identity {
    margin-top: 0;
  }
}
