@import "./variable.scss";

.project__link {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.works .card {
    margin-top: 0;
}

.project__link button {
  border-radius: 8px;
  padding-bottom: calc(13px / 2);
  padding-top: calc(13px / 2);
  padding-right: calc(38px / 2);
  padding-left: calc(38px / 2);
}

.project__link .demo {
  background: #5c94e1;
  border: 1px solid #5c94e1;
  color: #ffffff;
  margin-right: calc(11px / 2);
}

.project__link .code {
  border: 1px solid #5c94e1;
  color: #5c94e1;
  background-color: #ffffff;
}

@media (min-width: $mobile-size) {
  .project__skills {
    display: flex;
    flex-direction: row;
  }

  .project__skills li:nth-of-type(2) {
    margin-left: 8px;
    margin-right: 8px;
  }
  .project__link button {
    border-radius: 12px;
    padding-bottom: 13px;
    padding-top: 13px;
    padding-right: 38px;
    padding-left: 38px;
  }

  .demo {
    margin-right: 11px;
  }
}

@media (min-width: $medium-size) {
    .works {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 30px;
    }
  }

@media (min-width: 1200px) {
  .works {
    grid-template-columns: repeat(3, 1fr);
  }
}
